ul {
    font-family:Ubuntu, sans-serif;
    font-size: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width:100%;
}

#name {
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-size: 46px;
    color: white;
}

#header {
    background-color: transparent;
    padding: 20px 0px;
    color: white;
}

li a:hover, a:active {
    background-color: grey;
}

li a {
    border-radius: 25px;
    float:left;
    background-color: transparent;
    padding: 14px 16px;
}

body {
    background-image: url('/assets/WebsiteBackground.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}