ul {
    font-family:Rubik, sans-serif;
    font-size: 30px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width:100%;
}
.h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 46px;
}
#header {
    background-color: transparent;
    padding: top 20px, bottom 20px;
}

#header:hover{
    background-color: rgba(0,0,0,0.5);
    color:white;
}

li a:hover {
    color:orange1;
}

li a {
    display: block;
    float:left;
    background-color: transparent;
    color: black;
    padding: 14px 16px;
}

body {
    background-image: url('/assets/WebsiteBackground.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}