/* Importing Fonts #############################################################*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Ubuntu&display=swap');

/* Basic Document Stying #############################################################*/
#name {
    text-align: center;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size: 2.85rem;
    color: white;
    line-height: 0;
}

#header {
    background-color: transparent;
    padding: 1.25rem 0rem;
    line-height: 0;
}

html {
    font-size: 16px;
}

body {
    background-image: url('/assets/Images/WebsiteBackground.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0rem;
}

h2 {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    padding: 1.25rem 0.65rem 0rem 0.65rem;
    margin: 0rem;
    color: black;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/* Header Styling #############################################################*/
ul {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    list-style-type: none;
    padding: 0rem;
    margin: 0rem;
    overflow: hidden;
    width:100%;
    text-align: center;
    position: sticky;
    top: 0;
}

li {
    display: inline;
}

li a {
    border-radius: 1.6rem;
    border: 2px solid transparent;
    display: inline-block;
    font-weight: normal;
    padding: 0.9rem 1rem;
    text-align: center;
    position: sticky;
    top: 0;
}

li a:hover:not(.active) {
    border: 2px solid white;
}

li a:active {
    background-color: white;
    color: black;
}

li a:link, li a:visited {
    text-decoration: none;
    color: white;
}

/* CSS Grid Styling #############################################################*/
/* Need to Redesign for Mobile First */
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1.2rem;
}

.box1 {
    grid-column: 2/3;
    grid-row: 2/4;
    background-color: whitesmoke;
    border-radius: 1.6rem;
}

.box2 {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: whitesmoke;
    border-radius: 1.6rem;
}

.box3 {
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: whitesmoke;
    border-radius: 1.6rem;
}

.trigger {
    grid-column: 2/4;
    grid-row: 4/5;
}

.fadeIn {
    opacity: 0;
    transition: opacity 250ms ease-in;

}

.fadeIn.appear {
    opacity: 1;
}

.parMain {
    font-family: 'Nanum Gothic', Arial, Helvetica, sans-serif;
    padding: 0rem 1.25rem 0rem 1.25rem;
    color: black;
    text-align: center;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.05);
}

@media(max-width: 490px) {
    html {
        font-size: 13.5px;
    }
}